<launch>
  
  <arg name="__ns" default=""/>
  <arg name="eval_underscore_bypass" value="$(arg __ns)"/>
  <arg if="$(eval eval_underscore_bypass == '')" name="prefix" default=''/> 
  <arg unless="$(eval eval_underscore_bypass == '')" name="prefix" default="$(arg __ns)/"/>

  <include file="$(find xarm7_gripper_moveit_config)/launch/realMove_exec.launch" >
    <arg name="robot_ip" value="192.168.1.196"/>  
  </include>
  
  <include file="$(find ar_track_alvar)/launch/pr2_indiv_no_kinect.launch">
    <arg name="cam_info_topic" value="/camera/color/camera_info" />
    <arg name="cam_image_topic" value="/camera/color/image_raw" />
    <arg name="output_frame" value="camera_link" />
  </include>
  
  <include file="$(find realsense2_camera)/launch/rs_rgbd.launch" />

  <include file = "$(find rs_cam)/launch/static_transform_publisher.launch"/>

  <node name="transform_pose_marker" pkg="rs_cam" type="transform_pose_marker.py" output="screen"/>
  <node name="marker_node" pkg="rs_cam" type="marker.py" output="screen"/>
  
</launch>
